<ion-view title="로그인" id="page5">
   
	<ion-header-bar class="bar bar-header bar-stable" style="background-color:#edce1f">
       
       	       <h5 class="title"><font color=#ffffff> 로그인</font></h5>
      

       
  </ion-header-bar>



    <ion-content scroll="false"> 
         <ion-content overflow-scroll="true" style="position:fixed;" on-scroll="getScrollPosition()">
              <iframe data-tap-disabled="true" header-shrink id="mobile_web" src="http://52.78.130.219/dhionic/mem/login.php" style="left:0;top:0;height:100%;width:100%;margin:45px 0px;background-color:#fff;" onLoad="uploadDone()" ></iframe>
         </ion-content>
     
    
    <div class="bar bar-footer">
    </div>
    </ion-content>
    	
</ion-view>
