<ion-nav-view title="누리 박스" id="page4">

<div class="bar bar-header bar-stable" style="background-color:#edce1f">
      
       <h5 class="title"><font color=#ffffff>누리박스</font></h5>
       <a class="button icon-right button-clear" >
       <img src="img/icon/main-cart.png" style="width:30px; height:auto;">
       </a>
</div>



<ion-content padding="true" class="has-header">
<div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
    <i class="icon io요-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
</div>

<div class="col text-left" id="page4-markdown1" style="color:#000000;">
    <p>
        <h5>누리박스를 신청하시면,</h5>
        <h5>많은 혜택이 기다리고 있어요.</h5>
        <strong>10,000원/년</strong></br>
        - 월 별로 구독비 이상의 샘플 박스 배송</br>
        - 어린이집에 맞춤형 박스 구성</br>
    </p>
</div>

<div class="col text-center">
  <a href="#/page1/nuribox">
    <ion-nav-button class="button button-positive icon-left" ng-controller='page4Ctrl'  id="button-getNuribox" >누리박스 받아보기</ion-nav-button>
  </a>
  
 
</div>

</ion-content>
</ion-nav-view>






