
<ion-nav-view title="nuribox" id="nuribox">




    <ion-content padding="true" class="has-header">

        <div class="list card" id="sHOP-card21">
        <button class="button button-clear button-primary" ng-click="closeModal()">취소</button>
            <div class=" item item-image">
                <img src="img/t4tWOWckRsfDwTjgmurU_exam1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="sHOP-button-bar1" class="button-bar">
                <button id="sHOP-button4" class="button button-light  button-block">1</button>
                <button id="sHOP-button6" class="button button-light  button-block">3</button>
            </div>
            <form id="sHOP-form1" class="list">
                <div id="sHOP-button-bar2" class="button-bar">
                    <button id="sHOP-button7" class="button button-stable  button-block">1</button>
                    <button id="sHOP-button8" class="button button-light  button-block">2</button>
                    <button id="sHOP-button9" class="button button-light  button-block">3</button>
                    <button id="sHOP-button10" class="button button-light  button-block">3</button>
                    <button id="sHOP-button11" class="button button-light  button-block">3</button>
                </div>
                <ion-checkbox>Checkbox</ion-checkbox>
            </form>
            <ion-item class="item-thumbnail-left item-icon-right" id="sHOP-list-item8">
                <h2>Item</h2>
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="sHOP-list-item10">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right" id="sHOP-list-item9">
                <h2>Item</h2>
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
            <div id="sHOP-button-bar3" class="button-bar">
                <button id="sHOP-button12" class="button button-light  button-block">1</button>
                <button id="sHOP-button13" class="button button-light  button-block">2</button>
            </div>
        </div>
    </ion-content>
</ion-nav-view>


