<ion-nav-view>

<div class="bar bar-header bar-stable" style="background-color:#edce1f">

    <a class="button icon-left button-clear" href="#page1/page4">
        <img src="img/icon/back-btn.png" style="width:30px; height:auto;">
    </a>
    <h5 class="title"><font color=#ffffff>누리누리</font></h5>


    <a class="button icon-right button-clear" ng-controller='sHOPCtrl' ng-click="openModal(2)">
        <img src="img/icon/main-cart.png" style="width:30px; height:auto;">
    </a>
</div>



<ion-content padding="true" class="has-header" has-header="true">

    <div class="div_align_center">
        <h4>
            <div id="return-text-div">
                <div id="return-text">
                    반송사유 미입력 (2)
                </div>
                <a class="button icon-right ion-chevron-right button-clear" href="#/page1/nurireturn">
                </a>
            </div>
        </h4>

    </div>


    <div id="nuri-button-mainctrl" class="button-bar" ng-controller="nuriCtrl">
        <button id="nuri-button-nuri" class="button button-light button-block" ng-click="setPlatform('nuri')">누리 박스</button>
        <button id="nuri-button-tool" class="button button-light button-block" ng-click="setPlatform('tool')" >보유 교구</button>
        <button id="nuri-button-mybox" class="button button-light button-block" ng-click="setPlatform('mybox')">나의 박스</button>
    </div>



    <div>
        <section ng-include="'templates/nuribox/ctrl-month.html'"></section>
        <!-- 보유 교구 버튼 리스트 -->
        <div id="nuri-tool-div">
            <div id="nuri-button-toolCtrl" class="button-bar">
                <button id="nuri-button-tool-list" class="button button-stable button-outline button-block">필요 교구 목록</button>
                <button id="nuri-button-my-tool" class="button button-light button-outline button-block">내 교구 이미지</button>
            </div>
        </div>
    </div>



    <div>
        <section ng-include="'templates/nuribox/show-list.html'"></section>
    </div>

    <!-- 체크박스를 위한 form-->
    <!--<div ng-controller="getInfoFromDB" id="nuri-list">
        <ion-list>
            <form>
                <ion-item>
                    <div id="nuri-check">
                        <input type="checkbox">전체 선택
                    </div>
                </ion-item>
                <ion-item ng-repeat="good in goods" type="item-text-wrap" >
                        <div id="nuri-image-div">
                            <input type="checkbox">
                            <img src="http://52.78.130.219/shop/data/goods/{{good.img_m}}" id="nuri-image">
                        </div>
                        <div id="nuri-text-div">
                            ㅁㄴㅇㅁㄴsa
                            
                            </br>
                            asdfgweg
                            </br>
                            nfdgnn
                            </br>
                            <div id="nuri-addOrSub" class="button-bar">
                                <button id="nuri-sub" class="button button-outline">-</button>
                                <button id="nuri-add" class="button button-outline">+</button>
                            </div>

                        </div>
                </ion-item>
            </form>
        </ion-list>
    </div>-->

    <div id="nuri-button-order" class="button-bar">
        <button id="nuri-button-doOrder" class="button button-light button-outline button-blocks">주문하기</button>
        <button id="nuri-button-doNotOrder" class="button button-light button-outline button-blocks">전체미주문</button>
    </div>
    <div id="nuri-tool-order" class="button-bar">
        <button id="nuri-tool-register-img" class="button button-light button-outline button-blocks">이미지 등록</button>
        <button id="nuri-tool-register-tool" class="button button-light button-outline button-blocks">필요교구 등록</button>
    </div>
  </ion-content>
</ion-nav-view>