
<!--<ion-list>
    <ion-radio ng-model="sortCriteria" ng-value="'Price'">Price</ion-radio>
    <ion-radio ng-model="sortCriteria" ng-value="'Distance'">Distance</ion-radio>
</ion-list>-->
<div >

    <ion-list ng-controller="nuriReturnCtrl">
        <ion-checkbox ng-model="isChecked" >해당 교구를 이미 보유</ion-checkbox>
        <ion-checkbox >해당영역에 다른 교구 보유</ion-checkbox>
        <ion-checkbox >가격이 비쌈</ion-checkbox>
        <ion-checkbox >디자인, 질감이 안 좋음</ion-checkbox>
        <ion-checkbox >선생님들 평이 안 좋음</ion-checkbox>
        <ion-checkbox >안전해 보이지 않음</ion-checkbox>

    </ion-list>
</div>
        <!--<ion-radio ng-value="returnReasons.q1">
            asdg
        </ion-radio>
        <ion-radio ng-model="returnReasons.q2">
            nae
        </ion-radio>
        <ion-radio ng-model="returnReasons.q3">
            awef
        </ion-radio>
        <ion-radio ng-model="returnReasons.q4">
        </ion-radio>
        <ion-radio ng-model="returnReasons.q5">-->
