<div class="post-card">
  <!--<div class="list card" >-->
  <div>
    <div class="item item-image">
      <pre-img ratio="_3_2" helper-class="main-image">
        <a href="">
          <img src="http://52.78.130.219/shop/data/goods/{{good.img_m}}" id=sHOP-main-img>
        </a>
      </pre-img>
    </div>

    <i ng-if="post.liked" class="post-like-action clicked icon ion-ios-heart"></i>
    <i ng-if="!post.liked" class="post-like-action icon ion-ios-heart-outline"></i>

    <div class="item item-body">
      <h2 class="card-title">{{good.goodsnm}}</h2>
      <h2 class="card-user-name">{{good.goodsno}}</h2>
      <h2 class="card-user-name">{{good.category}}</h2>
    </div>

  </div>
</div>
