

 <!--사용하지 않는 부분-->


<ion-view title="accountinfo" id="page11">
    <ion-content padding="true" class="has-header">
       <div class="bar bar-header bar-energized">
       <a class="button icon-left ion-chevron-left"></a>
       <h5 class="title">회원프로필</h5>
       </div>
            <div class=" item item-image">
                <img src="img/t4tWOWckRsfDwTjgmurU_exam1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="sHOP-button-bar1" class="button-bar">
                <button id="sHOP-button4" class="button button-light  button-block">
                <h3>28</h3>
                리뷰</button>
                <button id="sHOP-button5" class="button button-light  button-block">
                <h3>247</h3>
                팔로워</button>
                <button id="sHOP-button6" class="button button-light  button-block">
                <h3>1508</h3>
                팔로잉</button>
            </div>

            <div class="list">
                <ion-nav-view>

                    <a class="item item-avatar" href="#">
                    <img src="img/example/exam1.jpg">
                    
                    박범석
                    
                    <button class="icon ion-chatbubble-working" style="float:right;" ><h5>팔로우</h5></button>
                    </a>

                    <a class="item item-avatar" href="#">
                    <img src="img/example/exam1.jpg">

                    박범석

                    <button class="icon ion-chatbubble-working" style="float:right;" ><h5>팔로우</h5></button>
                    </a>

                    <a class="item item-avatar" href="#">
                    <img src="img/example/exam1.jpg">

                    박범석

                    <button class="icon ion-chatbubble-working" style="float:right;" ><h5>팔로우</h5></button>
                    </a>
                    </div>
           </ion-nav-view>
        </div>
    </ion-content>
</ion-view>